body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
}

h1 {
    color: #333;
    margin-bottom: 20px;
}

label {
    font-size: 1.2em;
    font-weight: bold;
    margin-right: 10px;
}

#product-select {
    font-size: 1em;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    margin-bottom: 20px;
}

#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    width: 250px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: left;
    transition: transform 0.3s ease;
}

.product:hover {
    transform: scale(1.05);
}

.product h2 {
    font-size: 1.3em;
    color: #333;
    margin-bottom: 10px;
}

.product p {
    font-size: 1em;
    color: #666;
}

strong {
    font-weight: bold;
    color: #333;
}

.product-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
}

/* Para melhorar a legibilidade */
select {
    font-size: 1em;
    padding: 8px 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
}

select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
